{% load static %}
{% load i18n %}
<nav id="mainSidebar" class="h-100">
    <div class="d-flex flex-column flex-shrink-0 p-3">
        <a href="{% url 'dashboard' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <!-- logo for LG screen -->
            <span class="fs-4 logo-lg only-d-lg">
                <img class="img-xs" src="{% static 'images/logo.png' %}" alt="">
            </span>

            <!-- logo for SM screen -->
            <span class="fs-4 logo-sm only-d-sm">
                <img class="img-xs" src="{% static 'images/logo-mini.png' %}" alt="">
            </span>
            <!-- for SM screen - close -->
            <span class="d-sm-none" id="sidebarUntoggleBtn">
                <i class="bi bi-x-circle-fill"></i>
            </span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <p class="my-2 text-secondary text-small text-uppercase">
                {% trans 'dashboard' %}
            </p>
            <li class="nav-item">
                <a href="{% url 'dashboard' %}" class="nav-link active" aria-current="page">
                    <i class="bi bi-house-door-fill me-2"></i>
                    {% trans 'Home v.1' %}
                </a>
            </li>

            <!-- accounts -->
            <p class="my-2 text-secondary text-small only-d-lg text-uppercase">
                {% trans 'account' %}
            </p>
            <li class="tuxProfileName only-d-lg">
                <a href="{% url 'userprofile' %}" class="nav-link">
                    <i class="bi bi-person-circle me-2"></i>
                    <span>
                        {% trans 'whoami' %}
                    </span>
                </a>
            </li>
            <!-- sysinfo -->
            <p class="my-2 text-secondary text-small text-uppercase">
                {% trans 'sys' %} {% trans 'info' %}
            </p>
            <li>
                <a href="{% url 'environs' %}" class="nav-link">
                    <i class="bi bi-card-list me-2"></i>
                    {% trans 'Environment variables' %}
                </a>
            </li>
            <li>
                <a href="{% url 'processes' %}" class="nav-link">
                    <i class="bi bi-boxes me-2"></i>
                    {% trans 'Processes' %}
                </a>
            </li>
            <li>
                <a href="{% url 'lsof' %}" class="nav-link">
                    <i class="bi bi-file-earmark-check me-2"></i>
                    {% trans 'LSOF' %} {% trans '-n -i' %}
                </a>
            </li>
            <li>
                <a href="{% url 'systemctl-services' %}" class="nav-link">
                    <i class="bi bi-display me-2"></i>
                    {% trans 'Systemctl' %} {% trans 'status' %}
                </a>
            </li>
            <li>
                <a href="{% url 'dashboard' %}#tuxDiskPartition" class="nav-link">
                    <i class="bi bi-device-hdd-fill me-2"></i>
                    {% trans 'Disk' %} {% trans 'Partition' %}
                </a>
            </li>
            <!-- network tools -->
            <p class="my-2 text-secondary text-small">
                {% trans 'Network' %} {% trans 'tools' %}
            </p>
            <li>
                <a class="nav-link" id="scanMyPorts" href="{% url 'portscanner'%}?q={{ ifconfig.result.inet }}">
                    <i class="bi bi-ethernet me-2"></i>
                    {% trans 'Scan my ports' %}
                </a>
            </li>
            <li>
                <a href="{% url 'ipscanner' %}" class="nav-link">
                    <i class="bi bi-123 me-2"></i>
                    {% trans 'IP' %} {% trans 'scanner' %}
                </a>
            </li>
            <li>
                <a href="{% url 'traceroute' %}" class="nav-link">
                    <i class="bi bi-box-seam me-2"></i>
                    {% trans 'Traceroute' %}
                </a>
            </li>
            <!-- Vault -->
            <p class="my-2 text-secondary text-small text-uppercase">
                {% trans 'Vault' %}
            </p>
            <li>
                <!-- "sys logs = timeline" -->
                <a href="{% url 'vault-manager-list' %}" class="nav-link">
                    <i class="bi bi-safe2 me-2"></i>
                    {% trans 'Vault' %}
                </a>
            </li>
            <p class="my-2 text-secondary text-small">
                {% trans 'RDBMS' %}
            </p>
            <li>
                <!-- "sys logs = timeline" -->
                <a href="{% url 'rdbms-manager-list' %}" class="nav-link">
                    <i class="bi bi-database me-2"></i>
                    {% trans 'RDBMS' %}
                </a>
            </li>
        </ul>
    </div>
</nav>