<div id="topNavigation" class="px-3 py-2">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
            <!-- nav-left, breadcrumb -->
            <a href="#"
                class="nav-left d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                <i class="bi bi-list" id="sidebarToggleBtn"></i>
            </a>

            <!-- search form -->
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <div class="input-group text-white">
                    <input type="text" class="form-control form-control-dark text-bg-dark text-white" value="search...">
                    <a class="btn" href="wip">
                        <i class="bi bi-search"></i>
                    </a>
                </div>
            </form>

            <!-- nav-right -->
            <div class="nav-right col-lg-auto my-2">
                <!-- nav -->
                <ul class="nav">
                    <!-- Home icon for sm screen -->
                    <li class="only-d-sm">
                        <a href="index" class="nav-link text-white">
                            <i class="bi bi-house-door-fill"></i>
                        </a>
                    </li>
                    <!-- for profile page -->
                    <li>
                        <a href=""profile" class="nav-link text-white">
                            <i class="bi bi-person-circle"></i>
                        </a>
                    </li>
                    <!-- for modal applications -->
                    <li>
                        <a href="#" class="nav-link text-white" data-bs-toggle="modal"
                            data-bs-target="#modalApplication">
                            <i class="bi bi-grid-3x3-gap"></i>
                        </a>
                    </li>
                    <!-- tuxBattery -->
                    <li id="tuxBattery">
                        <a href="#" class="nav-link text-white" data-bs-toggle="tooltip" data-bs-placement="left"
                            data-bs-original-title="">
                            <i class="bi"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>