{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="www.amaharjan.de">
    <title>Easy Password Manager</title>
    <!-- CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'style.css' %}" rel="stylesheet">

    <!-- Include Clipboard.js from CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.8/clipboard.min.js"></script>
</head>

<body>
    <nav class="container py-2 bg-light border-bottom">
        <div class=" d-flex flex-wrap">
            <ul class="nav me-auto">
                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Settings</a></li>
                <li class="nav-item"><a href="https://github.com/asis2016/easy-password-manager"
                        class="nav-link link-dark px-2">GitHub</a></li>
                <li class="nav-item"><a href="#" class="nav-link link-dark px-2">About</a></li>
            </ul>

            {% if user.is_authenticated %}
            <ul class="nav">
                <li class="nav-item">
                    <a href="" class="nav-link link-dark px-2">Logout</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>
    <header class="container py-3 mb-4 border-bottom">
        <div class="d-flex flex-wrap justify-content-center">
            <a href="{% url 'vault-manager-list' %}"
                class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
                <h5>Easy pass manager</h5>
            </a>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 d-none">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>
        </div>
    </header>
    <!-- body content -->
    <div class="container">
        {% block content %}
        {% endblock content %}
    </div>

    {% block footer %}
    {% endblock footer %}
</body>

</html>