{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="row mb-4">
    <div class="col d-flex justify-content-end">
        <a href="{% url 'vault-manager-list' %}" class="btn btn-info btn-sm">
            <i class="bi bi-reply me-2"></i>{% trans 'Go back to the list' %}
        </a>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <tr>
                        <th>
                            {% trans 'Id' %}
                        </th>
                        <td>{{ object.id }}</td>
                    </tr>
                    <tr>
                        <th>
                            {% trans 'Title' %}
                        </th>
                        <td>{{ object.name }}</td>
                    </tr>
                    <tr>
                        <th>
                            {% trans 'Username' %}
                        </th>
                        <td>{{ object.username }}</td>
                    </tr>
                    <tr>
                        <th>
                            {% trans 'Secret' %}
                        </th>
                        <td>{{ object.password }}</td>
                    </tr>
                    <tr>
                        <th>
                            {% trans 'URL' %}
                        </th>
                        <td>{{ object.url }}</td>
                    </tr>
                    <tr>
                        <th>
                            {% trans 'Created Date' %}
                        </th>
                        <td>{{ object.datestamp }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}