{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans 'LSOF' %}
{% endblock %}

{% block content %}
<div class="row mb-4 sm-mb-3" id="tuxLsofPage">
    <div class="col ">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    {% trans 'PID' %}
                                </th>
                                <th>
                                    {% trans 'Command' %}
                                </th>
                                <th>
                                    {% trans 'FD' %}
                                </th>
                                <th>
                                    {% trans 'User' %}
                                </th>
                                <th>
                                    {% trans 'Node' %}
                                </th>
                                <th>
                                    {% trans 'See details' %}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if lsofs.result %}
                            {% for lsof in lsofs.result %}
                            <tr>
                                <td>

                                </td>
                                <td>
                                    {{ lsof.PID }}
                                </td>
                                <td>
                                    {{ lsof.COMMAND }}
                                </td>
                                <td>
                                    {{ lsof.FD }}
                                </td>
                                <td>
                                    {{ lsof.USER }}
                                </td>
                                <td>
                                    {{ lsof.NODE }}
                                </td>
                                <td>
                                    {{ lsof.NAME }}
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock footer %}