{% extends 'base.html' %}

{% block content %}
<div class="row mb-4">
    <div class="col d-flex justify-content-end">
        <a href="{% url 'rdbms-manager-list' %}" class="btn btn-info btn-sm">
            < Go back to the list</a>
    </div>
</div>

<div class="row">
    {% for schema in schemas.result %}
    <form method="POST" action="{% url 'rdbms-mysql-database-list' %}" class="col-lg-2 mb-3">
        {% csrf_token %}
        <div class="card">
            <div class="card-body">
                <input type="text" value="{{ schema.name }}" name="db" class="d-none">
                <input type="text" value="{{ object.username }}" name="username" class="d-none">
                <input type="text" value="{{ object.password }}" name="password" class="d-none">
                <input type="text" value="{{ object.host }}" name="host" class="d-none">
                <i class="bi bi-database-check me-2"></i>{{ schema.name }}
            </div>
            <div class="card-footer">
                <button class="btn btn-secondary btn-sm w-100" type="submit" class="btn btn-primary me-2">
                    <i class="bi bi-box-arrow-in-right me-2"></i>Connect
                </button>
            </div>
        </div>
    </form>
    {% endfor %}
</div>
{% endblock content %}