{% extends 'base.html' %}

{% load static %}

{% block title %}
Primary Vault
{% endblock %}


{% block content %}
<div class="row mt-4 sm-mt-3">
    <div class="col-lg-12">
        {% if result.result %}
        <div class="card">
            <div class="card-header">
                <h4 class="my-2">
                    {{ db }} schema
                </h4>
            </div>
            <div class="card-body table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Table Name</th>
                            <th>Engine</th>
                            <th>Version</th>
                            <th>Row format</th>
                            <th>Avg row length</th>
                            <th>Data length</th>
                            <th>Max data length</th>
                            <th>Index length</th>
                            <th>Free data</th>
                            <th>Auto increment</th>
                            <th>Created time</th>
                            <th>Updated time</th>
                            <th>Checked time</th>
                            <th>Collation</th>
                            <th>Checksum</th>
                            <th>Create options</th>
                            <th>Table comment</th>
                        </tr>
                        {% for i in result.result %}
                        <tr>
                            <td></td>
                            <!-- this acts as a form itself -->
                            <!-- todo refactor -->
                            <style>
                                button {
                                    background: none;
                                    border: 0;
                                    text-decoration: underline;
                                }
                            </style>
                            <td>
                                <form method="POST" action="{% url 'rdbms-mysql-describe-table' %}">
                                    {% csrf_token %}
                                    <input type="text" value="{{ host }}" name="host" class="d-none">
                                    <input type="text" value="{{ username }}" name="username" class="d-none">
                                    <input type="text" value="{{ secret }}" name="secret" class="d-none">
                                    <input type="text" value="{{ db }}" name="db" class="d-none">
                                    <input type="text" value="{{i.table_name}}" name="table_name" class="d-none">
                                    <!-- submit -->
                                    <button class="bg-none link-offset-2 link-info" type="submit">
                                        {{i.table_name}}
                                    </button>
                                    <!-- submit ends -->
                                </form>
                            </td>
                            <!-- form ends -->
                            <td>
                                {{i.engine}}
                            </td>
                            <td>
                                {{i.version}}
                            </td>
                            <td>
                                {{ i.row_format }}
                            </td>
                            <td>
                                {{ i.avg_row_length }}
                            </td>
                            <td>
                                {{ i.data_length }}
                            </td>
                            <td>
                                {{ i.max_data_length }}
                            </td>
                            <td>
                                {{ i.index_length }}
                            </td>
                            <td>
                                {{ i.data_free }}
                            </td>
                            <td>
                                {{ i.auto_increment }}
                            </td>
                            <td>
                                {{ i.create_time }}
                            </td>
                            <td>
                                {{ i.update_time }}
                            </td>
                            <td>
                                {{ i.check_time }}
                            </td>
                            <td>
                                {{ i.table_collation }}
                            </td>
                            <td>
                                {{ i.checksum }}
                            </td>
                            <td>
                                {{ i.create_options }}
                            </td>
                            <td>
                                {{ i.table_comment }}
                            </td>
                        </tr>
                        {% endfor %}
                    </thead>
                </table>
            </div>
        </div>
        {% else %}
        <div class="alert alert-warning">Not found!</div>
        {% endif %}
    </div>
</div>
{% endblock content %}