<div class="pageTitle pt-4 sm-pt-0 sm-mt-3">
    <h3>{{ page_title }}</h3>
    <div class="btn-toolbar mb-2 mb-md-0 {{ display }}">
        <div class="btn-group me-2">
            <a href="{{ url_for('wip') }}" class="btn btn-sm btn-outline-secondary">Generate report</a>
            <a href="{{ url_for('wip') }}" class="btn btn-sm btn-outline-secondary">Export</a>
        </div>
        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            More options
        </button>
    </div>
</div>