{% extends 'base.html' %}
{% load i18n %}

{% block title %}
Processes
{% endblock %}

{% block content %}
<div class="row mb-4 sm-mb-3" id="processes">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th>
                                    {% trans 'PID' %}
                                </th>
                                <th>
                                    {% trans 'Process name' %}
                                </th>
                                <th>
                                    {% trans 'Terminal' %}
                                </th>
                                <th>
                                    {% trans 'No. of threads' %}
                                </th>
                                <th>
                                    {% trans 'Started time' %}
                                </th>
                                <th>
                                    {% trans 'Status' %}
                                </th>
                                <th>
                                    {% trans 'User' %}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if processes.result %}
                            {% for ps in processes.result %}
                            <tr>
                                <td>
                                    {{ ps.pid }}
                                </td>
                                <td>
                                    {{ ps.process_name }}
                                </td>
                                <td>
                                    {{ ps.username }}
                                </td>
                                <td>
                                    {{ ps.created_time }}
                                </td>
                                <td>
                                    {{ ps.terminal }}
                                </td>
                                <td>
                                    {{ ps.num_threads }}
                                </td>
                                <td>
                                    {{ ps.status }}
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock footer %}