{% extends "base.html" %}
{% load static %}

{% block content %}
<section>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                <h3 class="card-title">$ systemctl list-units</h3>
                <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                <i class="fas fa-minus"></i>
                </button>
                </div>
                </div>
                <div class="card-body">
                <pre>{{ systemctl }}</pre>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock content %}
