<div class="col-lg-3 col-sm-12 col-xs-12 sm-mt-3" id="tuxBoottime">
    <div class="card cardQuickInfo">
        <div class="card-body">
            <div>
                <h3>Boot time</h3>
                <p>Opened</p>
            </div>
            <div>
                <i class="bi bi-clock-history"></i>
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="{{ url_for('wip') }}">Review this info <i class="bi bi-arrow-right-circle"></i></a>
        </div>
    </div>
</div>