<div class="card" id="tuxDiskPartition">
    <div class="card-header">
        <h6 class="card-title my-2">Disk Partition
            <span  data-bs-toggle="tooltip" data-bs-title="Shows you all partition and it's size." data-bs-placement="bottom">
                <i class="ms-2 bi bi-info-circle-fill"></i>
            </span>
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th> File System </th>
                        <th> Size </th>
                        <th> Used </th>
                        <th> Available </th>
                        <th> Usage(%) </th>
                        <th> Mounted on </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- table content/body comes here. -->
                </tbody>
            </table>
        </div>
    </div>
</div>