<div class="col-xl-3 col-sm-6 grid-margin stretch-card" id="tuxHomeLsof">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0"></h3>
                        <p class="text-warning ms-2 mb-0 font-weight-medium">found</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="icon icon-box-success ">
                        <span class="mdi mdi-arrow-top-right icon-item"></span>
                    </div>
                </div>
            </div>
            <a href="{{ url_for('lsof') }}" class="nav-link p-0">See details</a>
        </div>
    </div>
</div>