<div class="col-lg-3 col-sm-12 col-xs-12 sm-mb-1" id="tuxOSRelease">
    <div class="card cardQuickInfo">
        <div class="card-body">
            <div>
                <h3>OS name</h3>
                <p>OS description <span class="small"></span></p>
            </div>
            <div>
                <i class="bi bi-feather"></i>
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="#">Read more <i class="bi bi-arrow-right-circle"></i></a>
        </div>
    </div>
</div>