<div class="col-xl-3 col-sm-6 grid-margin stretch-card" id="tuxScanPorts">
    <div class="card">
        <div class="card-body">
            <!-- spinner -->
            <div class="d-none">
                <div class="spinner-border text-primary spinner" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div> Scanning ports... 
            </div>

            <!-- result -->
            <div class="row">
                <div class="col-9">
                    <div class="d-flex align-items-center align-self-start">
                        <h3 class="mb-0">5 Ports</h3>
                        <p class="text-warning ms-2 mb-0 font-weight-medium">open</p>
                    </div>
                </div>
                <div class="col-3">
                    <div class="icon icon-box-success">
                        <span class="mdi mdi-open-in-app icon-item"></span>
                    </div>
                </div>
            </div>
            <a href="#" class="nav-link p-0">Review this info</a>
        </div>
    </div>
</div>