<div class="col-lg-3 col-sm-12 col-xs-12 sm-mt-3" id="tuxPublicIPAddress">
    <div class="card cardQuickInfo">
        <div class="card-body">
            <div>
                <h3></h3>
                <p>Public IP</p>
            </div>
            <div>
                <i class="bi bi-cloud-arrow-up"></i>
            </div>
        </div>
        <div class="card-footer text-center">
            <a href="#tuxPublicIPDetails">See my public IP info <i class="bi bi-arrow-right-circle"></i></a>
        </div>
    </div>
</div>