<div class="col-xl-3 col-sm-6 grid-margin stretch-card d-none" id="tuxPublicIPAddress">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-9">
                    <div class="d-flex align-items-center align-self-start">
                        <h4 class="mb-0" data-bs-toggle="tooltip" data-bs-placement="bottom" title=""
                            data-bs-original-title="My public IP address"></h4>
                    </div>
                </div>
                <div class="col-3">
                    <div class="icon icon-box-success ">
                        <span class="mdi mdi-cloud-sync icon-item"></span>
                    </div>
                </div>
            </div>
            <a href="#tuxPublicIPDetails" class="nav-link p-0">See my public IP info</a>
        </div>
    </div>
</div>