<div class="col-sm-4 grid-margin" id="tuxSpeedTest">
    <div class="card">
        <div class="card-body">
            <h5>Internet speed test</h5>
            <div class="row">
                <div class="col-8 col-sm-12 col-xl-8 my-auto">
                    <div class="d-flex d-sm-block d-md-flex align-items-center">
                        <a href="#" class="txtUpSpeed text-white nav-link up p-3" title="Upload speed">
                            <i class="mdi mdi-arrow-up-bold"></i>
                            <span>0</span>
                        </a>
                        <a href="#" class="txtDownSpeed nav-link text-white down p-3" data-bs-toggle="tooltip"
                            data-bs-placement="bottom" title="" data-bs-original-title="Download">
                            <i class="mdi mdi-arrow-down-bold"></i>
                            <span>0</span>
                        </a>
                    </div>
                    <div class="txtPing"></div>
                </div>
                <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                    <button class="btn border-0 p-0" title="Start speed test">
                        <i class="icon-lg mdi mdi-play-circle text-success ms-auto"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>