<div class="col-lg-3 col-sm-12 col-xs-12 sm-mt-3" id="tuxBoottime">
    <div class="card cardQuickInfo">
        <div class="card-body">
            {% if boottime.result %}
            <div>
                <h3>
                    {{ boottime.result }}
                </h3>
                <p>Opened</p>
            </div>
            <div>
                <i class="bi bi-clock-history"></i>
            </div>
            {% endif %}
        </div>
        <div class="card-footer text-center">
            <a href="#">Review this info <i class="bi bi-arrow-right-circle"></i></a>
        </div>
    </div>
</div>