{% load i18n %}
<div class="card" id="tuxDiskPartition">
    <div class="card-header">
        <h6 class="card-title my-2">
            {% trans 'Disk' %} {% trans 'Partition' %}
            <span data-bs-toggle="tooltip" data-bs-title="Shows you all partition and it's size."
                data-bs-placement="bottom">
                <i class="ms-2 bi bi-info-circle-fill"></i>
            </span>
        </h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            {% trans 'File' %} {% trans 'System' %}
                        </th>
                        <th>
                            {% trans 'Size' %}
                        </th>
                        <th class="only-d-lg">
                            {% trans 'Used' %}
                        </th>
                        <th class="only-d-lg">
                            {% trans 'Available' %}
                        </th>
                        <th> 
                            {% trans 'Usage' %}(%)
                        </th>
                        <th class="only-d-lg">
                            {% trans 'Mounted on' %}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% if disk_partition.result %}
                    {% for i in disk_partition.result %}
                    <tr>
                        <td>{{ i.filesystem }}</td>
                        <td>{{ i.size }}</td>
                        <td class="only-d-lg">
                            {{ i.used }}
                        </td>
                        <td class="only-d-lg">
                            {{ i.avail }}
                        </td>
                        <td>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" style="width: {{ i.use }}"></div>
                            </div>
                        </td>
                        <td>{{ i.mounted }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
</div>