{% load i18n %}
<div class="card" id="ifconfigAndUserStat">
    <div class="card-header py-3">
        <h6 class="m-0">
            {% trans 'whoami' %} {% trans 'stats' %}
        </h6>
    </div>
    <div class="card-body table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <i class="bi bi-person-badge me-2"></i>
                        {% trans 'Username' %}
                    </td>
                    <td class="name">
                        {{ users.result.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-1-square-fill me-2"></i>
                        {% trans 'PID' %}
                    </td>
                    <td class="pid">
                        {{ users.result.pid }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-terminal me-2"></i>
                        {% trans 'Terminal' %}
                    </td>
                    <td class="terminal">
                        {{ users.result.terminal }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-laptop me-2"></i>
                        {% trans 'Host' %} & {% trans 'IPv4' %}
                    </td>
                    <td>
                        <span class="host">
                            {{ users.result.host }}
                        </span> &
                        <span class="ipv4">
                            {{ ifconfig.result.inet }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-clock-history me-2"></i>
                        {% trans 'Boottime' %}
                    </td>
                    <td class="started">
                        {{ users.result.started }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-6-square me-2"></i>
                        {% trans 'IPv6' %}
                    </td>
                    <td class="ipv6">
                        {{ ifconfig.result.inet6.0 }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-diagram-3 me-2"></i>
                        {% trans 'Netmask' %}
                    </td>
                    <td class="netmask">
                        {{ ifconfig.result.netmask }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-broadcast me-2"></i>
                        {% trans 'Broadcast' %}
                    </td>
                    <td class="broadcast">
                        {{ ifconfig.result.broadcast }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-ethernet me-2"></i>
                        {% trans 'MAC' %}
                    </td>
                    <td class="ether">
                        {{ ifconfig.result.ether }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-reception-4 me-2"></i>
                        {% trans 'Internet device' %}
                    </td>
                    <td class="device">
                        {{ ifconfig.result.device }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>