<div class="card" id="ifconfigAndUserStat">
    <div class="card-header py-3">
        <h6 class="m-0">whoami stats</h6>
    </div>
    <div class="card-body table-responsive">
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        <i class="bi bi-person-badge me-2"></i>Username
                    </td>
                    <td class="name">
                        {{ users.result.name }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-1-square-fill me-2"></i>PID
                    </td>
                    <td class="pid">
                        {{ users.result.pid }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-terminal me-2"></i>Terminal
                    </td>
                    <td class="terminal">
                        {{ users.result.terminal }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-laptop me-2"></i>Host & IPv4
                    </td>
                    <td>
                        <span class="host">
                            {{ users.result.host }}
                        </span> &
                        <span class="ipv4">
                            {{ ifconfig.result.inet }}
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-clock-history me-2"></i>Boottime
                    </td>
                    <td class="started">
                        {{ users.result.started }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-6-square me-2"></i>IPv6
                    </td>
                    <td class="ipv6">
                        {{ ifconfig.result.inet6.0 }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-diagram-3 me-2"></i>Netmask
                    </td>
                    <td class="netmask">
                        {{ ifconfig.result.netmask }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-broadcast me-2"></i>Broadcast
                    </td>
                    <td class="broadcast">
                        {{ ifconfig.result.broadcast }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-ethernet me-2"></i>MAC
                    </td>
                    <td class="ether">
                        {{ ifconfig.result.ether }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <i class="bi bi-reception-4 me-2"></i>Internet device
                    </td>
                    <td class="device">
                        {{ ifconfig.result.device }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>