<div class="row mt-4 sm-mt-3" id="tuxPublicIPDetails">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">What is my public IP information?</h6>
                <div class="row">
                    <div class="col-md-5">
                        <div class="table-responsive">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>IP</td>
                                        <td class="ip">-</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            Country
                                        </td>
                                        <td class="countryInfo">
                                            <i class="flag-icon"></i>
                                            <span>-</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Zip</td>
                                        <td class="zip">-</td>
                                    </tr>
                                    <tr>
                                        <td>Longitude</td>
                                        <td class="lon">-</td>
                                    </tr>
                                    <tr>
                                        <td>Latitude</td>
                                        <td class="lat">-</td>
                                    </tr>
                                    <tr>
                                        <td>ISP</td>
                                        <td class="isp">-</td>
                                    </tr>
                                    <tr>
                                        <td>Timezone</td>
                                        <td class="timezone">-</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-7 d-flex justify-content-center align-items-center">
                        <div id="publicIPMap" style="width: 600px; height: 400px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>