<div class="card" id="tuxSpeedTest">
    <div class="card-body">
        <h6>Internet speed test</h6>
        <div class="row">
            <div class="col-8 col-sm-12 col-xl-8 my-auto">
                <div class="d-flex d-sm-block d-md-flex align-items-center">
                    <a href="#" class="txtUpSpeed nav-link up p-3" data-bs-toggle="tooltip" data-bs-placement="bottom"
                        data-bs-title="Upload">
                        <i class="bi bi-arrow-up"></i>
                        <span>0</span>
                    </a>
                    <a href="#" class="txtDownSpeed nav-link down p-3" data-bs-toggle="tooltip"
                        data-bs-placement="bottom" data-bs-title="Download">
                        <i class="bi bi-arrow-down"></i>
                        <span>0</span>
                    </a>
                </div>
                <div class="txtPing"></div>
            </div>
            <div class="col-4 col-sm-12 col-xl-4 text-center text-xl-right">
                <button class="btn border-0 p-0" data-bs-toggle="tooltip" data-bs-placement="bottom"
                    data-bs-title="Start internet speed test">
                    <i class="bi bi-play-circle text-success ms-auto fs-1"></i>
                </button>
            </div>
        </div>
    </div>
</div>