<style>
    #tuxHomepageSystemctlServices .badge-outline-active {
        border: 1px solid green;
        color: green;
    }

    #tuxHomepageSystemctlServices .badge-outline-exited {
        border: 1px solid yellow;
        color: green;
    }

    #tuxHomepageSystemctlServices .badge-outline-failed {
        border: 1px solid red;
        color: green;
    }
</style>
<div class="card" id="tuxHomepageSystemctlServices">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0">Systemctl status</h6>
        <span>
            <a href="systemctl_services" class="amj-a text-small">View all ></a>
        </span>
    </div>
    <div class="card-body table-responsive">
        <div class="table-responsive">
            <table class="table overflow-scroll table-hover">
                <thead>
                    <tr>
                        <th>Unit</th>
                        <th>Status</th>
                        <th>Sub</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- data here -->
                </tbody>
            </table>
        </div>
    </div>
    
</div>