{% extends "base.html" %}
{% load static %}
{% block content %}

{% include 'home/info_box.html' %}

<div class="row">
    <div class="col">
        <div class="alert alert-warning">
            <!-- todo -->
            $ df -h
            <p class="text-primary mb-0">
                10 packages can be upgraded. Run "apt list --upgradable" to see them.
            </p>
        </div>
    </div>
</div>

<section class="my-4">
    <div class="row">
        <div class="col-lg-8">

        </div>
        <div class="col-lg-4">
            {%include "home/systemctl_quick_info.html" %}
            {%include "home/ps.html" %}
            
        </div>
    </div>
</section>

<section class="my-4">
    <div class="row mb-4">
        <div class="col-lg-8">
            {% include "home/ip.html" %}
        </div>
        <div class="col-lg-4">
            {% include 'home/du.html' %}
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            {% include 'home/last.html' %}
        </div>
        <div class="col-6">
            {% include 'home/route.html' %}
        </div>
    </div>
</section>

<section class="my-4">
    <div class="row">
        {% include "home/df.html" %}
        
    </div>
</section>

<section class="my-4">
    <div class="row">
        {% include "home/iw_config.html" %}
        {% include "home/hostnamectl.html" %}
    </div>
</section>

<section class="my-4">
    <div class="row">
        <div class="col-lg-6">
            {% include 'home/ss.html' %}
        </div>
        <div class="col-lg-6">
            
        </div>
    </div>
</section>

{% endblock content %}