{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans 'Environment variables' %}
{% endblock %}

{% block content %}
<div class="row mb-4 sm-mb-3" id="environ">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th>
                                    {% trans 'keys' %}
                                </th>
                                <th>
                                    {% trans 'Values' %}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if environs.result %}
                            {% for env in environs.result %}
                            <tr>
                                <td>
                                    {{ env.key }}
                                </td>
                                <td>
                                    {{ env.value }}
                                </td>
                            </tr>
                            {% endfor %}
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
{% endblock footer %}