{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <form method="post">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <p class="text-danger">
                        {% trans 'You are about to delete' %}
                    </p>
                    <table class="table">
                        <tr>
                            <td>
                                {% trans 'Title' %}
                            </td>
                            <td>{{ object.name }} </td>
                        </tr>
                        <tr>
                            <td>
                                {% trans 'Username' %}
                            </td>
                            <td>{{ object.username }} </td>
                        </tr>
                        <tr>
                            <td>
                                {% trans 'Secret' %}
                            </td>
                            <td>{{ object.password }} </td>
                        </tr>
                        <tr>
                            <td>
                                {% trans 'Type' %}
                            </td>
                            <td>{{ object.type }} </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer">
                    <div class="d-flex" style="justify-content: space-between; align-items: center;">
                        <button type="submit" class="btn btn-danger">
                            <i class="bi bi-exclamation-triangle-fill"></i> {% trans 'I agree' %}
                        </button>
                        <a href="{% url 'rdbms-manager-list' %}" class="link-offset-2">
                            <i class="bi bi-reply"></i> {% trans 'Cancel and go back!' %}
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}