{% extends 'base.html' %}

{% block title %}
IP Scanner
{% endblock %}

{% block content %}
<div class="row sm-pt-0" id="tuxIPScannerForm">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">IP Scanner</h4>
                <form>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">
                                    Starting IP address
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="startIPAddressSelectTag">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Last IP address</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="lastIPAddressSelectTag">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> Log this IP scan
                                <i class="input-helper"></i>
                            </label>
                        </div>
                    </div>
                    <div class="col" style="text-align: right;">
                        <div class="form-check">
                            <button type="submit" class="btn btn-primary me-2" data-bs-toggle="modal"
                                data-bs-target="#tuxIPScannerModal">
                                Start scanning now</button>
                            <a class="btn btn-danger me-2" href="{{ url_for('index') }}">Cancel and go back!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- result -->
<div class="row" id="tuxIPScannerResult">
    <div class="col-12 text-center">
        <div class="spinner-border text-primary invisible spinner" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <div class="col-12 grid-margin col2 d-none">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"></h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> IP </th>
                                <th> TTL </th>
                                <th> Time </th>
                                <th> Is alive? </th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="tuxIPScannerModal" tabindex="-1" role="dialog" aria-labelledby="tuxIPScannerModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">Warning!</h6>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning">Make sure that you are authorized to scan IP addresses. <br>
                    Illegal scanning may cause legal consequences.</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Exit</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" id="startIPScanSubmitBtn">I
                    agree</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script>
    /**
     * for 'tuxPublicIPAddress'
     */
    $.ajax({
        url: BASE_API_URL + '/ifconfig/',
        dataType: 'json',
        success: function (data) {
            // Get IP
            let inet = data['result']['inet']
            let networkPrefix = inet.split('.').slice(0, 3).join('.');

            // The number of usable IP addresses in a '/24' subnet is 256 - 2 = 254.
            for (let i = 1; i <= 254; i++) {
                // Create a new option element for #startIPAddressSelectTag
                let option1 = document.createElement('option');
                option1.value = i;
                option1.text = `${networkPrefix}.${i}`;
                document.getElementById('startIPAddressSelectTag').appendChild(option1);

                // Create a new option #lastIPAddressSelectTag
                let option2 = document.createElement('option');
                option2.value = i;
                option2.text = `${networkPrefix}.${i}`;
                document.getElementById('lastIPAddressSelectTag').appendChild(option2);
            }
        },
        error: function () {
            console.error('Failed to fetch external IP address');
        }
    });

    /**
     *  for startIPScanSubmitBtn
     */
    $('#startIPScanSubmitBtn').on('click', function () {
        // Make .spinner visible
        $('#tuxIPScannerResult .spinner').attr('style', 'visibility: visible !important');
        let startIP = $('#startIPAddressSelectTag option:selected').text()
        let endIP = $('#lastIPAddressSelectTag option:selected').text()

        $.ajax({
            url: BASE_API_URL + '/scan-ip/?start_ip=' + startIP + '&end_ip=' + endIP,
            dataType: 'json',
            method: 'POST',
            // Automate.sh!
            headers: { 'Content-Type': 'application/json' },
            success: function (response) {
                // Make .col2 visible
                $('#tuxIPScannerResult .col2').attr('style', 'display: block !important');

                // Make .spinner invisible
                $('#tuxIPScannerResult .spinner').attr('style', 'visibility: hidden !important');

                // Update h4 title
                $('#tuxIPScannerResult h4').text(`Scan result from ${startIP} to ${endIP}`);

                // Insert data into tables. Also, if old tr exists; remove it.
                let tbody = $('#tuxIPScannerResult tbody');
                if (tbody.find('tr').length > 0) {
                    tbody.find("tr").remove();
                }

                $.each(response['result'], function (index, item) {
                    let newRow = $('<tr>');

                    if (item['aliveStatus']) {
                        newRow.append(`<td>${item['ip']}</td>`);
                        newRow.append(`<td>${item['ttl']}</td>`);
                        newRow.append(`<td>${item['time']} ms</td>`);
                        newRow.append(`<td><div class='badge badge-outline-success'>Yes</div></td>`);
                        newRow.append(`<td><a href="/scan-port?hostname=${item['ip']}" class='btn btn-warning'>Scan ports</a></td>`);
                    }

                    // Append the row to the tbody
                    tbody.append(newRow);
                });
            },
            error: function () {
                console.error('Failed to fetch external IP address');
            }
        });
    });
</script>
{% endblock footer %}