{% extends 'base.html' %}

{% block content %}
{# page_title #}
{% include 'page_title.html' %}

<div class="row sm-pt-0" id="tuxLsofPage">
    <div class="col ">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th></th>
                                <th>PID</th>
                                <th>command</th>
                                <th>FD</th>
                                <th>User</th>
                                <th>Node</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- data -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script>
    /**
     * processes
     */
    $.ajax({
        url: BASE_API_URL + '/lsof/n/i/',
        dataType: 'json',
        success: function (response) {
            var tbody = $('#tuxLsofPage tbody');

            $.each(response['result'], function (index, item) {
                var newRow = $('<tr>');

                // Append cells to the row
                newRow.append('<td></td>');
                newRow.append('<td>' + item['PID'] + '</td>');
                newRow.append('<td>' + item['COMMAND'] + '</td>');
                newRow.append('<td>' + item['FD'] + '</td>');
                newRow.append('<td>' + item['USER'] + '</td>');
                newRow.append('<td>' + item['NODE'] + '</td>');
                newRow.append('<td>' + item['NAME'] + '</td>');
                newRow.append('</tr>');

                // Append the row to the tbody
                tbody.append(newRow);
            });
        },
        error: function () {
            console.error('Error fetching data:', error);
        }
    });
</script>
{% endblock footer %}