{% extends 'base.html' %}

{% block content %}
<!-- result -->
<div class="row" id="tuxPortScannerResult">
    <!-- spinner -->
    <div class="col-12 text-center col1">
        <div class="spinner-border text-primary spinner" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div>
            <p>
                Port scanning on {{ ip }}
            </p>
            <p>
                It may take some time.
            </p>
            <p>
                Please wait...
            </p>
        </div>
    </div>
    <div class="col-md-6 col2 d-none">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <td>
                                    Target IP
                                </td>
                                <td>
                                    {{ hostname }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Scan ports
                                </td>
                                <td>
                                    1-65535
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Open ports
                                </td>
                                <td class="openPortList">
                                </td>
                            </tr>
                            <!-- TODO: WIP -->
                            <tr class="d-none">
                                <td></td>
                                <td>
                                    <button class="btn btn-warning">
                                        Run NMap (warning: advanced)
                                    </button>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}

<script>
    $.ajax({
        url: BASE_API_URL + '/scan-port?hostname={{ hostname }}',
        dataType: 'json',
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        success: function (response) {
            // Make .col1 display none
            $('#tuxPortScannerResult .col1').attr('style', 'display: none !important');

            // Make .col2 display block
            $('#tuxPortScannerResult .col2').attr('style', 'display: block !important');

            if (response['totalOpenPorts'] >= 1) {

                let newUl = $('<ul>');

                $.each(response['result'], function (index, item) {
                    newUl.append(`<li class='p-2'>${item}</li>`);
                });

                $('#tuxPortScannerResult .openPortList').append(newUl);

            } else {
                $('#tuxPortScannerResult .openPortList').append('No ports are opened.');
            };


        },
        error: function () {
            console.error('Failed to fetch external IP address');
        }
    });
</script>

{% endblock footer %}