{% extends 'base.html' %}

{% block content %}
<div class="row" id="processes">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-2 mt-2 card-title">Processes</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table text-white">
                        <thead>
                            <tr>
                                <th> PID </th>
                                <th> Process name </th>
                                <th> Terminal </th>
                                <th> No. of threads </th>
                                <th> Started time </th>
                                <th> Status </th>
                                <th> User </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block custom_script %}
<script>
    /**
     * processes
     */
    $.ajax({
        url: BASE_API_URL + '/ps/',
        dataType: 'json',
        success: function (response) {
            var tbody = $('#processes tbody');

            $.each(response['result'], function (index, item) {
                var newRow = $('<tr>');

                // Append cells to the row
                newRow.append('<td>' + item['pid'] + '</td>');
                newRow.append('<td>' + item['process_name'] + '</td>');
                newRow.append('<td>' + item['terminal'] + '</td>');
                newRow.append('<td>' + item['num_threads'] + '</td>');
                newRow.append('<td>' + item['created_time'] + '</td>');
                newRow.append('<td>' + item['status'] + '</td>');
                newRow.append('<td>' + item['username'] + '</td>');
                newRow.append('</tr>');

                // Append the row to the tbody
                tbody.append(newRow);
            });
        },
        error: function () {
            console.error('Error fetching data:', error);
        }
    });
</script>
{% endblock %}