<nav id="mainSidebar" class="h-100">
    <div class="d-flex flex-column flex-shrink-0 p-3">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
            <!-- logo for LG screen -->
            <span class="fs-4 logo-lg sm-d-none">
                <img class="img-xs" src="{{ url_for('static', filename='images/logo.png') }}" alt="">
            </span>

            <!-- logo for SM screen -->
            <span class="fs-4 logo-sm only-d-sm">
                AMJ
            </span>
            <!-- for SM screen - close -->
            <span class="d-sm-none" id="sidebarUntoggleBtn">
                <i class="bi bi-x-circle-fill"></i>
            </span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{{ url_for('index') }}" class="nav-link active" aria-current="page">
                    <i class="bi bi-house-door-fill me-2"></i>
                    Home v.1
                </a>
            </li>

            <!-- accounts -->
            <p class="my-2 text-secondary text-small">ACCOUNT</p>
            <li class="tuxProfileName">
                <a href="#" class="nav-link">
                    <i class="bi bi-person-circle me-2"></i>
                    <span>whoami</span>
                </a>
            </li>
            <!-- sysinfo -->
            <p class="my-2 text-secondary text-small">SYS INFO</p>
            <li>
                <a href="{{ url_for('environ') }}" class="nav-link">
                    <i class="bi bi-card-list me-2"></i>
                    Environment Var
                </a>
            </li>
            <li>
                <a href="{{ url_for('processes') }}" class="nav-link">
                    <i class="bi bi-boxes me-2"></i>
                    Processes
                </a>
            </li>
            <li>
                <a href="{{ url_for('lsof') }}" class="nav-link">
                    <i class="bi bi-file-earmark-check me-2"></i>
                    lsof -n -i
                </a>
            </li>
            <li>
                <a href="{{ url_for('systemctl_services') }}" class="nav-link">
                    <i class="bi bi-display me-2"></i>
                    Systemctl status
                </a>
            </li>
            <li>
                <a href="{{ url_for('index') }}#tuxDiskPartition" class="nav-link">
                    <i class="bi bi-device-hdd-fill me-2"></i>
                    Disk Partition
                </a>
            </li>
            <!-- network tools -->
            <p class="my-2 text-secondary text-small">Network tools</p>
            <li>
                <a class="nav-link" id="scanMyPorts" href="#">
                    <i class="bi bi-ethernet me-2"></i>
                    Scan my Ports
                </a>
            </li>
            <li>
                <a href="{{ url_for('ipscanner') }}" class="nav-link">
                    <i class="bi bi-123 me-2"></i>
                    IP Scanner
                </a>
            </li>
            <li>
                <a href="{{ url_for('traceroute') }}" class="nav-link">
                    <i class="bi bi-box-seam me-2"></i>
                    Traceroute
                </a>
            </li>
            <!-- others -->
            <p class="my-2 text-secondary text-small">OTHERS</p>
            <li>
                <!-- "sys logs = timeline" -->
                <a href="{{ url_for('syslog') }}" class="nav-link">
                    <i class="bi bi-body-text me-2"></i>
                    tKnight Log
                </a>
            </li>
            <li>
                <a href="http://127.0.0.1:8000/docs" class="nav-link">
                    <i class="bi bi-file-earmark-text me-2"></i>
                    Swagger
                </a>
            </li>
        </ul>
    </div>
</nav>