{% extends 'base.html' %}

{% block title %}
System logs
{% endblock %}

{% block content %}
<div class="row" id="tuxSysLog">
    <div class="col-md-6">
        <ul class="timeline">
            <!-- data here -->
        </ul>
    </div>
</div>
{% endblock %}

{% block footer %}
<script>
    $.ajax({
        url: BASE_API_URL + '/syslog/',
        dataType: 'json',
        success: function (response) {
            let ul = $('#tuxSysLog .timeline');

            $.each(response['result'], function (index, item) {
                // Access each item in the array
                $.each(item, function () {
                    let li = $('<li>');
                    let p = $(`<p class="mb-0 d-flex justify-content-between w-100">`);

                    p.append(`<span><i class="bi bi-calendar-check me-1"></i>${item.datestamp}</span>`);
                    p.append(`<span><i class="bi bi-bookmark-dash-fill me-1"></i>${item.level}</span>`);

                    li.append(p)
                    li.append(`<p><small>${item.message}</small></p>`);
                    ul.append(li);
                });
            });
        },
        error: function () {
            console.error('Error fetching data:', error);
        }
    });

</script>
{% endblock footer %}