{% extends 'base.html' %}

{% block title %}
Traceroute
{% endblock %}

{% block content %}
<!-- tuxTraceRouteForm -->
<div class="row" id="tuxTraceRouteForm">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">
                                    Hostname
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control " id="traceRouteInput"
                                        placeholder="e.g., www.example.priv" value="www.example.priv">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input"> Log this traceroute
                                <i class="input-helper"></i>
                                <i class="input-helper"></i></label>
                        </div>
                    </div>
                    <div class="col" style="text-align: right;">
                        <div class="form-check">
                            <button type="submit" class="btn btn-primary me-2" id="traceRouteSubmitBtn">
                                Traceroute now</button>
                            <a class="btn btn-danger me-2" href="{{ url_for('index') }}">Cancel and go back!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- tuxTraceRouteForm ends -->

<!-- tuxTraceRouteResult -->
<div class="row mt-4" id="tuxTraceRouteResult">
    <!-- spinner -->
    <div class="col-12 text-center col1 d-none">
        <div class="spinner-border text-primary spinner" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        <div>
            <p>
                Tracerouting on <span class="hostname"></span>
            </p>
            <p>
                It may take some time.
            </p>
            <p>
                Please wait...
            </p>
        </div>
    </div>
    <!-- data -->
    <div class="col-12 col2 d-none">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>IP</th>
                                        <th>Latitude</th>
                                        <th>Longitude</th>
                                        <th>Location</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div id='myDiv'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- tuxTraceRouteResult ends -->
{% endblock %}

{% block footer %}
<script>
    $('#traceRouteSubmitBtn').on('click', function () {
        let hostname = $('#traceRouteInput').val();

        $('#tuxTraceRouteResult .col1').removeClass('d-none');
        $('#tuxTraceRouteResult .col1 span').text(hostname)

        $.ajax({
            url: BASE_API_URL + '/traceroute/?hostname=' + hostname,
            dataType: 'json',
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            success: function (response) {
                $('#tuxTraceRouteResult .col1').addClass('d-none');
                $('#tuxTraceRouteResult .col2').removeClass('d-none');

                let tbody = $('#tuxTraceRouteResult table tbody');

                $.each(response['result'], function (index, item) {
                    let newRow = $('<tr>');

                    // Append cells to the row
                    newRow.append(`<td><span class="badge bg-success rounded-pill">${index + 1}</span></td>`);
                    newRow.append('<td>' + item['ip'] + '</td>');
                    newRow.append('<td>' + item['lat'] + '</td>');
                    newRow.append('<td>' + item['lon'] + '</td>');
                    newRow.append(`<td>${item['city']} <i class='flag-icon flag-icon-${item['country_code'].toLowerCase()}'></i></td>`);
                    newRow.append('</tr>');

                    // Append the row to the tbody
                    tbody.append(newRow);
                });

                // for visualization
                plotMap(response['result'], hostname);
            },
            error: function () {
                console.error('Failed to fetch external IP address');
            }
        });
    });


    /**
     * Plot map 
     */
    const plotMap = (data, hostname) => {

        let dataList = [];

        // Iterate over the array to create the desired output format
        for (let i = 0; i < data.length - 1; i++) {
            let startLocation = data[i];
            let endLocation = data[i + 1];

            let route = {
                type: 'scattergeo',
                name: `R${i + 1}`,
                text: `${startLocation.city} to ${endLocation.city}`,
                lon: [startLocation.lon, endLocation.lon],
                lat: [startLocation.lat, endLocation.lat],
                mode: 'markers+lines',
                line: {
                    width: 2,
                    color: '#dc3545'
                }
            };

            dataList.push(route);
        }

        var layout = {
            title: {
                'text': 'Traceroute for ' + hostname,
                font: {
                    color: '#fff'
                }
            },
            showlegend: true,
            legend: {
                font: {
                    color: '#fff'
                }
            },
            plot_bgcolor: "##191c24",
            paper_bgcolor: "#191c24",
            geo: {
                resolution: 300,
                showland: true,
                showlakes: true,
                landcolor: '#28a745',
                lakecolor: '#007bff',
                projection: {
                    type: 'equirectangular'
                },
                coastlinewidth: 1,
                lataxis: {
                    range: [20, 60],
                    tickmode: 'linear',
                    dtick: 10
                },
                lonaxis: {
                    range: [-100, 20],
                    tickmode: 'linear',
                    dtick: 20
                },
                bgcolor: '#007bff',

            }
        };

        Plotly.newPlot('myDiv', dataList, layout);
    }
</script>
{% endblock footer %}