{% extends 'base.html' %}
{% load i18n %}

{% block title %}
{% trans 'IP' %} {% trans 'scanner' %}
{% endblock %}

{% block content %}
<form method="POST" action="{% url 'ipscanner-post-request' %}">
    {% csrf_token %}
    <div class="row sm-pt-0" id="tuxIPScannerForm">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">
                                    {% trans 'Starting IP address' %}
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="startIPAddressSelectTag" name="start_ip">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">
                                    {% trans 'Last IP address' %}
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="lastIPAddressSelectTag" name="end_ip">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col">
                            <div class="form-check mb-3">
                                <label class="form-check-label">
                                    <!--  todo  -->
                                    <input type="checkbox" class="form-check-input"> {% trans 'Log this IP scan' %}
                                    <i class="input-helper"></i>
                                </label>
                            </div>

                            <!-- btn -->
                            <div class="d-grid gap-2 d-md-block">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#tuxIPScannerModal">
                                    Start scanning now</button>

                                <a class="btn btn-danger" href="{% url 'dashboard' %}">
                                    {% trans 'Cancel and go back!' %}
                                </a>
                            </div>
                            <!-- btn ends -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="tuxIPScannerModal" tabindex="-1" role="dialog" aria-labelledby="tuxIPScannerModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">
                        {% trans 'Warning!' %}
                    </h6>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-warning">
                        {% trans 'Make sure that you are authorized to scan IP addresses. Illegal scanning may cause legal consequences.' %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                        {% trans 'Exit' %}
                    </button>
                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" id="startIPScanSubmitBtn">
                        {% trans 'I agree' %}
                    </button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal ends -->
</form>
{% endblock %}

{% block footer %}
<script>
    /**
     * for 'tuxPublicIPAddress'
     */
    $.ajax({
        url: BASE_API_URL + '/ifconfig/',
        dataType: 'JSON',
        success: function (data) {
            console.log(data)
            // Get IP
            let inet = data['inet']
            let networkPrefix = inet.split('.').slice(0, 3).join('.');

            // The number of usable IP addresses in a '/24' subnet is 256 - 2 = 254.
            for (let i = 1; i <= 254; i++) {
                // Create a new option element for #startIPAddressSelectTag
                let option1 = document.createElement('option');
                option1.value = `${networkPrefix}.${i}`;
                option1.text = `${networkPrefix}.${i}`;
                document.getElementById('startIPAddressSelectTag').appendChild(option1);

                // Create a new option #lastIPAddressSelectTag
                let option2 = document.createElement('option');
                option2.value = `${networkPrefix}.${i}`;
                option2.text = `${networkPrefix}.${i}`;
                document.getElementById('lastIPAddressSelectTag').appendChild(option2);
            }
        },
        error: function () {
            console.error('Failed to fetch external IP address');
        }
    });
</script>
{% endblock footer %}