{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Info boxes -->
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box">
        <span class="info-box-icon bg-info elevation-1"><i class="fas fa-cube"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Installed packages</span>
            <span class="info-box-number">{{ total_packages_installed }}</span>
        </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
        <span class="info-box-icon bg-danger elevation-1"><i class="fas fa-thumbs-up"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Likes</span>
            <span class="info-box-number">41,410</span>
        </div>
        </div>
    </div>
    <div class="clearfix hidden-md-up"></div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
        <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">Sales</span>
            <span class="info-box-number">760</span>
        </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-md-3">
        <div class="info-box mb-3">
        <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-globe-asia"></i></span>
        <div class="info-box-content">
            <span class="info-box-text">What is my IP?</span>
            <span class="info-box-number">{{ curl_ifconfig_dot_me }}</span>
        </div>
        </div>
    </div>
</div>
<!-- Ends Info boxes -->

<div class="row">
    <div class="col">
        <div class="alert alert-warning">
            <!-- todo -->
            $ df -h
            <p class="text-primary mb-0">
                10 packages can be upgraded. Run "apt list --upgradable" to see them.
            </p>
        </div>
    </div>
</div>

<!-- Top info -->
<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                $ whoami <br>
                {{ whoami }}
            </div>
        </div>
    </div>
     <div class="col">
        <div class="card">
            <div class="card-body">
                $ uptime <br>
                {{ uptime }}
            </div>
        </div>
    </div>
     <div class="col">
        <div class="card">
            <div class="card-body">
                $ curl ifconfig.me <br>
                {{ curl_ifconfig_dot_me }}
            </div>
        </div>
    </div>
</div>

<section class="my-4">
    <div class="row">
        <div class="col-lg-8">

        </div>
        <div class="col-lg-4">
            {%include "systemctl_quick_info.html" %}
            {%include "ps.html" %}
        </div>
    </div>
</section>

<section class="my-4">

    <div class="row mb-4">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        $ sudo du / -h -d 1 > out/du.out
                    </h3>
                </div>
                <div class="card-body">
                    <pre>{{ disk_usage }}</pre>
                </div>
            </div>
        </div>
        
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    $ free -ht
                </div>
                <div class="card-body">
                    <ul>
                        <pre>{{ free_memory_data }}</pre>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    $ last -n 5 --dns
                </div>
                <div class="card-body">
                    <pre>{{ last_logged_users }}</pre>
                </div>
            </div>
        </div>
        
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    $ route
                </div>
                <div class="card-body">
                    <ul>
                        <pre>{{ routing_table }}</pre>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</section>


<section class="my-4">
    <div class="row">
        {% include "df.html" %}
        {% include "ip.html" %}
    </div>
</section>

<section class="my-4">
    <div class="row">
        {% include "iw_config.html" %}
        {% include "hostnamectl.html" %}
    </div>
</section>

<section class="my-4">
    <div class="row">
        <!-- ss -ntl -->
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    $ ss -ntl
                </div>
                <div class="card-body">
                    <pre>{{ ss }}</pre>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            
        </div>
        
    </div>
</section>



{% endblock content %}